services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend.dev
    container_name: tcc-frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
      - "24678:24678"
    env_file:
      - ./.env
    environment:
      CHOKIDAR_USEPOLLING: "true"
      CHOKIDAR_INTERVAL: "300"
      VITE_HMR_HOST: "localhost"
      VITE_HMR_PORT: "24678"
    volumes:
      - ./FrontEnd:/app
      - /app/node_modules
